{% extends "base.html" %}

{% block contentpageheader %}
<div class="page-header">
    {% if user.is_authenticated %}
        <a href="{% url 'eventinfo_new' %}" class="top-menu">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    {% endif %}
    <h1><a href="/blog/eventinfo_list">이벤트 정보</a></h1>
</div>
{% endblock %}

{% block contentchild %}
<div class="post">
    {% if eventinfo.created_date %}
        <div class="date">
            {{ eventinfo.created_date }}
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'eventinfo_edit' pk=eventinfo.pk %}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
    {% endif %}
    <h1>{{ eventinfo.title }}</h1>
    <p>{{ eventinfo.text|linebreaksbr }}</p>
</div>

{% endblock %}