{% extends "blog/base.html" %}

{% block content %}
    {% for p in postL %}
        <div class="post">
            <div class="date">
                <p>published: {{p.published_date}}</p>
            </div>
            <h2>
                <!-- <a href="/post/{{ post.pk }}/"> -->
                    <a href="{% url 'post_detail' p.pk %}" >
                    {{ p.title }}
                </a>
            </h2>
            <p>{{ p.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}